.FateOptionsRoot
{
    width: 100%;
    height: 100%;
}

#OptionsBackground
{
    width: 100%;
    height: 100%;
}

#OptionsMainContainer
{
    width: 1100px;
    height: 550px;
    vertical-align: center;
    horizontal-align: center;
    perspective-origin: 62% 5% invert;
    perspective: 1000;
    visibility: visible;

    transition-property: opacity, transform, pre-transform-scale2d, wash-color;
    transition-duration: 0.4s;
    transition-delay: 0.0s;
    transition-timing-function: ease-in-out;

    background-color: gradient( linear, 0% 0%, 0% 25%, from( #232326 ), to( #1c1d20 ) );
    box-shadow: #00000099 -4px -4px 8px 8px;
    border: 2px solid #32383677;
}

.OptionsContainerHidden
{
    opacity: 0.0;
    transform: translateX( -120px ) translateY( -60px );
    pre-transform-scale2d: 0.95;
    wash-color: #33cccc;
    visibility: collapse;
}

#OptionsButton
{
    background-image: url("file://{images}/misc/settings.png");
    background-size: 27px;
    margin-top: 2px;

    tooltip-position: bottom;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 14px;
    margin-bottom: 8px;
    margin-left: 155px;
    margin-right: 8px;
    vertical-align: top;
    horizontal-align: left;
    background-position: center;
    opacity: 0.5;
    wash-color: #CDF;

    transition-property: opacity;
    transition-duration: 0.2s;
}

#OptionsNavBar
{
    background-color: #00000077;
    margin-top: 0px;
    vertical-align: top;
    horizontal-align: left;
    flow-children: right;
    width: 100%;
    height:40px;
}

#OptionsTabContainer
{
    margin-top:40px;
    opacity: 1;
    width: 100%;
    height: 100%;
}

.OptionsCloseButton
{
    margin-left: 6px;
    margin-top: 6px;
    width: 32px;
    height: 32px;
    background-image: url("s2r://panorama/images/control_icons/gear_return_png.vtex");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    horizontal-align: left;
    margin-right: 28px;
    wash-color: #575d5f;
}

.OptionsButtonHover
{
    wash-color: #8a9396;
}

.OptionsNavBarPanel
{
    color: #939da044;
    vertical-align: middle;
    horizontal-align: left;
    height: 100%;
    transition: color 0.2s ease-in-out 0.0s;
}

.OptionsNavBarLabel
{
    font-size: 20px;
    vertical-align: middle;
    horizontal-align: center;
    text-transform: uppercase;
    margin: 0px;
    margin-top: 2px;
}

.OptionsNavBarSeperator
{
    color: #939da044;
    margin-left: 24px;
    margin-right: 24px;
}

.OptionsNavBarHover
{
    color: #b1b5bc;
}

.OptionsNavBarActive
{
    color: white;
}