.AboutRoot
{
    width: 100%;
    height: 100%;
}

.AboutSection
{
    horizontal-align: center;
    flow-children: down;
    width: 70%;
    margin-bottom: 20px;
}

.SectionHeader
{
    font-size: 24px;
    font-weight: thin;
    color: #939da0;
    text-transform: uppercase;
    text-align: center;
}

#AboutMain
{
    horizontal-align: center;
    flow-children: down;
    width: 700px;
    height: 100%;
    overflow: squish scroll;
    margin-top: 20px;
    margin-bottom: 20px;
}

#AboutCredits
{
}