.HeroSelection {
    width: 100%;
    height: 100%;
}

.heroes {
    
    
}


.EasyHero {
    flow-children: right-wrap;
    vertical-align: top;
    horizontal-align: left;
    padding: 30px;
}



.Easy {
    flow-children: right-wrap;
    vertical-align: top;
    horizontal-align: left;
    padding: 30px;
}


.NormalHero {
    flow-children: right-wrap;
    vertical-align: top;
    padding: 30px;
    margin-top: 40%;
}


.Normal {
    horizontal-align: left;
    font-size: 30px;
    transform-origin: 50% 50%;
    font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
    color: rgba(118, 177, 40, 0.795);
}

.HardHero {
    flow-children: right-wrap;
    vertical-align: top;
    padding: 30px;
    margin-top: 75%; 
}


.Hard {
    horizontal-align: center;
    font-size: 30px;
    transform-origin: 50% 50%;
    font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
    color: rgba(192, 23, 23, 0.795);
}


.hero {
    margin: 10px;
    transition: transform 0.2s ease 0.0s;
}

.hero:hover {
    transform: scale3d(1.3, 1.3, 1);
}

.container {
    flow-children: down;
    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
    background-color: gradient( linear, 0% 0%, 100% 100%, from( #474747 ), color-stop( 0.01, #141414 ), color-stop( 0.2, #141619 ), to( #000000 ) );
    padding: 30px;
    opacity: 0.98;
}

.pickStatus {
    horizontal-align: center;
    height: 50px;
    flow-children: right;
    margin-bottom: 20px;
}

.statusLabel {
    padding-right: 10px;
    vertical-align: middle;
    font-size: 25px;
}

.timePanel {
    horizontal-align: center;
    width: 50px;
    height: 50px;
}

.timeRing {
    width: 50px;
    height: 50px;
}

.timeLabel {
    horizontal-align: center;
    vertical-align: center;
    font-size: 40px;
    transform-origin: 50% 50%;
    font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
    color: #CCCCCC;
}

.hero.grayscale {
    saturation: 0.2;
    wash-color: #555555;
    transform: scale3d(1, 1, 1);
}

.selectedByPlayer {
    box-shadow: fill green -4px -4px 8px 8px;
}

.hero.picked {
    transform: scale3d(1, 1, 1);
}


.Hidden {
    visibility: collapse;
}
